# STM32Cube generated
/firmware/CubeGenerated/edge_telematics_fw/Debug/
/firmware/CubeGenerated/edge_telematics_fw/Release/
/firmware/CubeGenerated/edge_telematics_fw/*.ioc.work
*.swp
*.user
*.log

# Build artifacts
/build/
/bin/
/obj/
/*.elf
/*.map
/*.hex
/*.bin

# Ceedling
/ceedling_tests/build/
/ceedling_tests/vendor/
/ceedling_tests/logs/

# OS files
.DS_Store
Thumbs.db

# Python env
venv/
.env
